<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521230632803-ccp0nqrvahuqfbh1sthjq96meq2a0fp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521230632803-ccp0nqrvahuqfbh1sthjq96meq2a0fp5</string>
	<key>API_KEY</key>
	<string>AIzaSyD8kyZxOGPi9SsW1gMFuWSFShiF_dN2Y88</string>
	<key>GCM_SENDER_ID</key>
	<string>521230632803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Academate</string>
	<key>PROJECT_ID</key>
	<string>acadamate-3bef4</string>
	<key>STORAGE_BUCKET</key>
	<string>acadamate-3bef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:521230632803:ios:e5ba86a3fc12ae80fc7556</string>
</dict>
</plist>
